html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#sidebar {
    width:350px;
}

#sidebar h1 {
    text-align:center;
}

#sidebar h2{
    padding-left: 5%;
}
#map {
    min-height:100%;
    width:100%;
    bottom:0px;
    left: 350px;
    right: 0px;
    position: absolute;
}

#pano {
        width: 250px;
        height: 250px;
}
