body {
    width:100%;
}



#sidebar {
    width:250px;
}

#sidebar h1 {
    text-align:center;
}

#sidebar h2{
    padding-left: 5%;
}
#map {
    min-height:100%;
    width:75%;
    bottom:0px;
    right: 0px;
    position: absolute;
}



#pano {
        width: 250px;
        height: 250px;
}
