* {
    box-sizing: border-box;
}

body {
    padding:0;
    margin:0;
}

#sidebar {
    padding: 1%;
    margin:0;
    width:25%;
    max-width:300px;
    display:flex;
    justify-content: space-between;
    flex-direction:row;
    flex-wrap:wrap;
    overflow: scroll;
    height:100%;
    -webkit-box-shadow: inset -10px 0px 10px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -10px 0px 10px -8px rgba(0,0,0,0.75);
    box-shadow: inset -10px 0px 10px -8px rgba(0,0,0,0.75);
}

button {
    width:100%;
    font-size:1em;
}

input {
    width:100%;
    font-size:1.25em;
    margin-top:2%;
    margin-bottom:2%;
    background-color:#e8e8e8;
    height:1.5em;
}

#map {
    min-height:100%;
    width:75%;
    bottom:0px;
    right: 0px;
    position: absolute;
}



#pano {
        width: 250px;
        height: 250px;
}
